* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    color: rgb(228, 77, 114);
    margin: 0;
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho-menu {
    display: flex;
    gap:80px;
}
.cabecalho-menu-links {
    font-family:cursive;
    font-size: 36px;
    font-weight: 600;
    color: rgb(154, 15, 182);
    text-decoration:none;
}

.titulo-destaque {
    color: rgb(220, 43, 226);
}
.conteudo {
    height: auto;
    flex-direction: column;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    gap: 40px;
    order: 2;
}

.apresentacao-conteudo-titulo {
    font-size: 300%;
    font-family: cursive;

}
.apresentacao-paragrafo {
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
}
.apresentacao-links-conteudo {
    font-family: fantasy;
    font-weight: 400;
    font-size: 60px
}

.botao1 {
    background-color: #741075;
    color: #ff629b;
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao1::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #ff51a8);
    transition:0.5s;
}

.botao1:hover::before {
    left: 100%;
}

.botao1 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.botao2 {
    background-color: #ff629b;
    color: #741075;
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #741075);
    transition:0.5s;
}

.botao2:hover::before {
    left: 100%;
}

.botao2 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.botao3 {
    background-color: #741075;
    color: #ff629b;
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #ff51a8);
    transition:0.5s;
}

.botao3:hover::before {
    left: 100%;
}

.botao3 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.botao4 {
    background-color: #ff629b;
    color: #741075;
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao4::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #741075);
    transition:0.5s;
}

.botao4:hover::before {
    left: 100%;
}

.botao4 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.botao5 {
    background-color: #741075;
    color: #ff629b;
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao5::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #ff51a8);
    transition:0.5s;
}

.botao5:hover::before {
    left: 100%;
}

.botao5 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}